# Obtain information by day

In [ ]:
df = pd.read_csv('mousotron_data_formated.csv')
df

,Date,Active time,Distance,Keystrokes,Left clicks,Right clicks,Middle clicks,Double clicks,Wheel turn,Idle time
0,2020-04-07 23:32:52,50040,104303,20590,3284,4758,15,2241,6683,29820
1,2020-04-08 00:18:32,51600,105394,20590,3363,4758,15,2248,6683,30600
2,2020-04-09 00:00:12,55380,66326,8535,2127,17,5,156,4854,0
3,2020-04-09 01:34:37,62520,70974,9293,2314,17,5,167,5078,51780
4,2020-04-10 14:05:30,8820,131607,3935,3160,3849,1,1886,264,39060
...,...,...,...,...,...,...,...,...,...,...
773,2022-11-01 15:55:54,2308860,1204361,151297,35995,1933,137,3182,110598,1713300
774,2022-11-02 00:00:16,2336340,1279221,158540,37063,1965,138,3280,114895,1793640
775,2022-11-03 00:00:57,2425200,1389148,178014,40472,2235,142,3791,123208,1852740
776,2022-11-04 00:00:54,2511420,1514967,187828,43436,2311,143,4052,133183,1917480
777,2022-11-05 13:59:54,2648160,1544390,190698,43638,2411,143,4095,133696,1914420